<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Editing {{blogItem.id}}</title>

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <h1>Edit Blog {{blogItem.id}}</h1>

    <div class="input-group">
        <span class="input-group-addon">Title</span>
        <input id="blogTitle" type="text" class="form-control" value="{{blogItem.title}}">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">https://usmans.info/blog/</span>
        <input id="blogUrlFriendly" type="text" class="form-control" value="{{blogItem.urlFriendlyId}}">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Categories</span>
        <input id="blogCategory" type="text" class="form-control"
               value="{{#each blogItem.categories}}{{this.name}}{{#unless @last}},{{/unless}}{{/each}}">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Description</span>
        <input id="blogDescription" type="text" class="form-control" value="{{blogItem.description}}">
    </div>

    <hr>

    <div class="input-group">
        <textarea class="form-control" id="blogBody" rows="10">{{{blogItem.body}}}</textarea>
    </div>
    <br>
    <div class="form-group">
        <button id="saveBlog" class="btn btn-primary" type="button">Save</button>
        <a href="/protected/" class="btn btn-primary">Cancel</a>

        <div id="refresh_success" class="alert alert-success" role="alert" style="display:none"></div>
        <div id="refresh_info" class="alert alert-info" role="alert" style="display:none"></div>
    </div>
</div>


<!-- Bootstrap 4 and JQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<!-- summer note -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote-bs4.js"></script>

<script>
    //init editor
    $('#blogBody').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
</script>

<script>
    $(document).ready(function() {

        $('#saveBlog').click(function () {
            var data = {
                'title': document.getElementById("blogTitle").value,
                'urlFriendlyId': document.getElementById("blogUrlFriendly").value,
                'categories': document.getElementById("blogCategory").value,
                'description': document.getElementById("blogDescription").value,
                'body': $('#blogBody').summernote('code')
            };

            $('#refresh_info').text('Waiting...');
            $('#refresh_info').show();
            var posting = $.post( "#", data );
            posting.done(function (data) {
                $('#refresh_info').hide();
                $('#refresh_success').text(data.message);
                $('#refresh_success').show();
            })
        });
    });
</script>
</body>
</html>
