<html>
<head>
  <title>{{blogItem.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
  <div class="container">
      <br/>
      <section>
          <div class="media">
              <div class="media-left">
                  <div class="date">
                      <span class="day">{{blogItem.createDay}}</span>
                      <span class="month">{{blogItem.createMonth}}</span>
                      <span class="year">{{blogItem.createYear}}</span>
                  </div>
              </div>
              <div class="media-body">
                  <h3 class="media-heading">{{blogItem.title}}</h3>
                  <span ng-repeat="blogCat in blogItem.categories">
                        <span class="label label-default">{{blogCat.name}}</span>
                  </span>
                  <hr/>
                  <article class="blog-body" id="blogID_{{blogItem.id}}">
                      <div ng-bind-html="trustBlogHtml(blogItem.body)"></div>
                  </article>
                  <br><br>
              </div>
              <div class="media-right">
                  <div class="fb-like"
                       data-href="https://usmans.info/blog/{{blogItem.id}}"
                       data-layout="box_count"
                       data-action="like"
                       data-size="small"
                       data-show-faces="false"
                       data-share="true">
                  </div>
              </div>
          </div>
      </section>
      <div class="fb-comments" data-href="https://usmans.info/blog/{{blogItem.id}}" data-numposts="5" data-colorscheme="light"></div>
  </div>
</body>
</html>