<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{blogItem.title}}</title>

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>

    <!-- Angular UI Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <!-- AngularJS Head Meta https://github.com/apparentlymart/angularjs-viewhead -->
    <script language="javascript" type="text/javascript" src="/scripts/angularjs-viewhead.js"></script>

    <!-- Our version of Angular Service -->
    <script src="/scripts/script.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/bsnavbarfix.css">


    <!-- Open Graph tags -->
    <meta property="og:url" content="https://usmans.info/blog/{{blogItem.id}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{blogItem.title}}"/>
    <meta property="og:description" content="{{blogItem.description}}"/>
    <meta property="og:image" content="https://usmans.info/images/usman_saleem_blog_fb.png"/>
    <meta property="fb:app_id" content="142645833160332"/>

</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=142645833160332';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar fixed-top navbar-expand navbar-light" style="background-color: #daddad;">
    <a class="navbar-brand" href="/#!/">
        <img style="width:32px;height:32px;" src="/images/usman_profile.jpg" class="d-inline-block align-top"
             alt="Usman"/>
        Usman's Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#!/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/about">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">

    <div class="media">
        <div class="mr-3">
            <div class="date">
                <span class="day">{{blogItem.createDay}}</span>
                <span class="month">{{blogItem.createMonth}}</span>
                <span class="year">{{blogItem.createYear}}</span>
            </div>
        </div>

        <div class="media-body">
            <h5 class="mt-0">{{blogItem.title}}</h5>
            {{#each blogItem.categories}}
            <span class="badge badge-secondary">{{this.name}}</span>
            {{/each}}
            <div>{{{blogItem.body}}}</div>
            <div class="float-sm-right last-modified">Last Modified On: {{blogItem.modifiedOn}}</div>
        </div>
    </div>
    <span class="fb-left">
                        <div class="fb-like" data-href="https://usmans.info/blog/{{blogItem.id}}"
                             data-layout="button_count" data-action="recommend" data-size="small"
                             data-show-faces="false"
                             data-share="true"></div>
                    </span>
    <div class="fb-comments" data-href="https://usmans.info/blog/{{blogItem.id}}" data-numposts="5"
         data-colorscheme="light" width="100%"></div>
</div>

<footer class="footer">
    <div class="container-fluid small text-muted">(c) Usman Saleem. 2005-2017. Version 4.0</div>
</footer>

<!-- Bootstrap 4 and JQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<!-- gist embed -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"></script>
</body>
</html>
